body {
  background-color: black;
  /* #303336 */
  font-family: 'Cabin', sans-serif;
  padding: 20px;
  color: white;
}

.namefont:hover,
a:hover {
  color: blueviolet;
}

.introx,
#biohead {
  animation: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: backwards;
}

#intro {
  animation: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;

}

#intro1 {
  animation-delay: 1s;
}

#intro2 {
  animation-delay: 1.7s;
}

#intro3 {
  animation-delay: 2.4s;
}

#biohead {
  animation-delay: 3.1s;
  color: blueviolet;
}

#bio {
  animation: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 3.1s;
  animation-fill-mode: backwards;
}

#stack,
#intro,
#bio {
  padding: 5px;
}


#stackhead,
#stack {
  animation: fadeIn;
  animation-duration: 0.3s;
  animation-delay: 4s;
  animation-fill-mode: backwards;
}

label {
  color: white;
}

.me {
  width: 100px;
  height: 100px;
  padding: 2px;
}

h4 {
  color: blueviolet;
  font-family: 'Cabin', sans-serif;
}

.stack {
  list-style: none outside none;
}

.namefont {
  font-family: 'b612', sans-serif;
  padding-left: 7px
}

.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wdb {
  padding: 5px;
}

.cert {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.footer-image {
  padding: 5px;
}

.footer {
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}