body {
  background-color: black;
  /* #303336 */
  font-family: 'B612', sans-serif;
  padding: 20px;
  color: white;
}

.navbar {
  border-color: blueviolet;
}

.namefont:hover {
  color: blueviolet;
}

/* Page content */
.content {
  padding: 16px;
}

#intro1 {
  animation: fadeIn;
  animation-duration: 0.7s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

#intro2 {
  animation: fadeIn;
  animation-duration: 0.7s;
  animation-delay: 1.7s;
  animation-fill-mode: backwards;
}

#intro3 {
  animation: fadeIn;
  animation-duration: 0.7s;
  animation-delay: 2.4s;
  animation-fill-mode: backwards;
}

#bio {
  padding: 5px;
  animation: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 3.1s;
  animation-fill-mode: backwards;
}

#biohead {
  animation: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 3.1s;
  animation-fill-mode: backwards;
}

#stack {
  padding: 5px;
}


#stackhead {
  animation: fadeIn;
  animation-duration: 0.3s;
  animation-delay: 4s;
  animation-fill-mode: backwards;
}

.intro {
  padding: 5px;
}

label {
  color: white;
}

.me {
  width: 100px;
  height: 100px;
  padding: 2px;
  border: 2.2px solid blueviolet;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

h1,
h2,
h3,
h4 {
  color: blueviolet;
  font-family: 'B612', sans-serif;
}

.cert {
  width: 400px;
  height: 300px;
  padding: 5px;
}

hr {
  color: #84e22b;
}

.stack {
  list-style: circle outside none;
}

.namefont {
  font-family: 'B612', sans-serif;
  padding-left: 7px
}

a:hover {
  color: blueviolet;
}

.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.stack li::marker {
  animation: slideup;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}

.stack li:nth-child(1)::marker {
  animation-delay: 4.9s;
}

.stack li:nth-child(2)::marker {
  animation-delay: 5.4s;
}

.stack li:nth-child(3)::marker {
  animation-delay: 5.9s;
}

.stack li:nth-child(4)::marker {
  animation-delay: 6.4s;
}

.stack li:nth-child(5)::marker {
  animation-delay: 6.9s;
}

.stack li:nth-child(6)::marker {
  animation-delay: 7.4s;
}

.stack li:nth-child(7)::marker {
  animation-delay: 7.9s;
}

.li1 {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 4.9s;
  animation-fill-mode: backwards;
}

.li2 {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 5.4s;
  animation-fill-mode: backwards;
}

.li3 {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 5.9s;
  animation-fill-mode: backwards;
}

.li4 {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 6.4s;
  animation-fill-mode: backwards;
}

.li5 {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 6.9s;
  animation-fill-mode: backwards;
}

.li6 {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 7.4s;
  animation-fill-mode: backwards;
}

.li7 {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 7.9s;
  animation-fill-mode: backwards;
}



@keyframes example {
  from {
    font-size: 14px;
  }

  to {
    font-size: 30px;
  }
}