body {
  background-color: black;
  /* #303336 */
  font-family: 'B612', sans-serif;
  padding: 20px;
  color: white
}

/* Page content */
.content {
  padding: 16px;
}


label {
  color: white;
}

.me {
  width: 100px;
  height: 100px;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  color: blueviolet;
  font-family: 'B612', sans-serif;
}

.cert {
  width: 400px;
  height: 300px;
  padding: 5px;
}

hr {
  color: #84e22b;
}

ul {
  list-style: square outside none;
}

.namefont {
  font-family: 'B612', sans-serif;

}

.namefont:hover {
  color: blueviolet;
}

a:hover {
  color: blueviolet;
}

.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}